ion-avatar{
   
    margin: auto;
    width: 130px;
    height: 120px;
}

.anuncio{

    margin: 20px;
    
}

.row-subir-anuncio {
    height: 20vh;
}

ion-icon {
    font-size: 70px;
}

ion-col {
    margin-top: auto;
    margin-bottom: auto;
}