<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons  slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="usuarioActual">
      <h2 text-center>{{usuarioActual.nombreUsuario}}</h2>
      <ion-card>
        <ion-card-header>
           <ion-card-title text-center>Informacion de contacto</ion-card-title>
        </ion-card-header>
         <ion-card-content>
             <p>Telefono: 888888</p>
             <p>Email: {{usuarioActual.email}}</p>
         </ion-card-content>
      </ion-card>
  </div>
    
        
     <ion-grid>
       <ion-row class="row-subir-anuncio">
         <ion-col size="8" ><h1 text-center >Subir anuncio</h1></ion-col>
         <ion-col size="3"><ion-icon name="add-circle" color="danger" routerLink="/crear-anuncio"></ion-icon></ion-col>
       </ion-row>
     </ion-grid>

     <h3 padding text-center>Mis Anuncios</h3>
     <div *ngIf="!anuncios"><h4>No tienes anuncios</h4></div>
     <ion-grid>
       <ion-row>
          <ion-col>Campeon</ion-col>
       </ion-row>
     </ion-grid>

     <h3 padding>Editar informacion de contacto</h3>
     <form [formGroup]="form" *ngIf="usuarioActual">
        <ion-grid>
          <ion-row>
            <ion-col size-sm="6" offset-sm="3">
              <ion-item class="ion-margin-top">
                <ion-label>Nombre de usuario</ion-label>
                <ion-input formControlName="nombreUsuario" [placeholder]="usuarioActual.nombreUsuario"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size-sm="6" offset-sm="3">
                <ion-item class="ion-margin-top">
                  <ion-label >Email</ion-label>
                  <ion-input type="email" formControlName="email" [placeholder]="usuarioActual.email"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
        </ion-grid>
      </form>
      <ion-button [disabled]="!form.valid" padding>Guardar cambios</ion-button>
     
        
</ion-content>
