<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons  slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="usuarioActual" padding>
      <h2 text-center class="ion-margin-bottom">{{usuarioActual.nombreUsuario}}</h2>
      <ion-card>
        <ion-card-header>
           <ion-card-title text-center>Informacion de contacto</ion-card-title>
        </ion-card-header>
         <ion-card-content>
             <p>Telefono: 888888</p>
             <p>Email: {{usuarioActual.email}}</p>
         </ion-card-content>
      </ion-card>
  </div>
    
        
     <ion-grid>
       <ion-row class="row-subir-anuncio">
         <ion-col size="8" ><h1 text-center >Subir anuncio</h1></ion-col>
         <ion-col size="3"><ion-icon name="add-circle" color="secondary" routerLink="/crear-anuncio"></ion-icon></ion-col>
       </ion-row>
     </ion-grid>

     <h3 padding text-center>Mis Anuncios {{anunciosUsuarioActual ? '😢' : ''}}</h3>
     <h4 *ngIf="!anunciosUsuarioActual" text-center class="ion-margin-bottom">No tienes anuncios 😄</h4>
     <ion-list *ngIf="anunciosUsuarioActual">
        <ion-item *ngFor="let anuncio of anunciosUsuarioActual">
            <ion-card>
              <ion-card-header>
                <ion-card-title>{{anuncio.nombrePerro}}</ion-card-title>
                <ion-card-subtitle>{{anuncio.raza}}</ion-card-subtitle>
              </ion-card-header>
              <img [src]="anuncio.image" class="imagen">
              <ion-card-content padding>
                  <h4>{{anuncio.descripcion}}</h4>
                  <h5 class="ion-margin-bottom ion-margin-top">Se perdió el: {{ formatoFecha(anuncio.fechaPerdido) }}</h5> 
                  <ion-button color="danger" fill="outline">Eliminar</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-item>
     </ion-list>
     

     <h3 padding class="ion-margin-top">Editar informacion de contacto</h3>
     <form [formGroup]="form" *ngIf="usuarioActual">
        <ion-grid>
          <ion-row>
            <ion-col size-sm="6" offset-sm="3">
              <ion-item class="ion-margin-top">
                <ion-label>Nombre de usuario</ion-label>
                <ion-input formControlName="nombreUsuario" [placeholder]="usuarioActual.nombreUsuario"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size-sm="6" offset-sm="3">
                <ion-item class="ion-margin-top">
                  <ion-label >Email</ion-label>
                  <ion-input type="email" formControlName="email" [placeholder]="usuarioActual.email"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
        </ion-grid>
      </form>
      <ion-button [disabled]="!form.valid || mensajeCambios === 'Cambios guardados'" padding (click)="guardarCambios()">{{mensajeCambios}}</ion-button>
     
      <ion-button padding text-center class="boton-logout" color="danger" fill="outline" (click)="onLogout()">Cerrar sesion</ion-button>
</ion-content>
