<ion-header>

  <ion-toolbar color="tertiary">
    <ion-button slot="start" fill="clear" (click)="closeDetalle()"><ion-icon name="close"></ion-icon></ion-button>
  <ion-title>Mas sobre mi :) !</ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-item>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Mi nombre es: {{perro.nombrePerro}}</ion-card-title>
            <ion-card-subtitle>creo que soy un: {{perro.raza}} y  {{perro.descripcion}}</ion-card-subtitle>
          </ion-card-header>
          <img class="imagen" [src]="perro.image">
          <ion-text>Me perdi el: {{ formatoFecha(perro.fechaPerdido) }}</ion-text>
          <ion-card-content>
              <ion-text>La ultima vez me vieron por aqui:</ion-text>
            <img class="imagen" [src]="perro.location.imagen">
          </ion-card-content>
        </ion-card>
      </ion-item>
  </ion-content>