.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
  }
  
  .boton-detalles{
    display: block;
  }
  
  ion-card {
    width: 100%;
  }
  
  .imagen{
    height: 55vh;
    width: 75vh;
  }

  .imagen-gif {
    height: 40vh;
    width: 75vh;
  }