.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.boton-detalles{
  display: block;
}

ion-card {
  width: 100%;
}

.imagen{
  height: 35vh;
  width: 75vh;
}

h5 {
  margin-top: 0px;
  padding-top: 0px;
}

.boton-publicar {
  padding-top: 15px;
}

.icono-usuario {
  font-size: 30px;
}

.findme-letras{
  height: 43px;
  width: 120px;
  border-radius: 20px;
}

.logo {
  margin-left: 10px;
  margin-bottom: 5px;
  width: 35px;
  border-radius: 100%;
}

.siHayEncontradosResguardados{
  padding-bottom: 0px;
}

