<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      findme
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item *ngFor="let perro of listaPerros">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{perro.nombrePerro}}</ion-card-title>
            <ion-card-subtitle>{{perro.raza}}</ion-card-subtitle>
          </ion-card-header>
          <ion-img src="assets/imagenes/perro.jpg"></ion-img>
          <ion-card-content>
            {{perro.descripcion}}
          </ion-card-content>
          <ion-text>{{perro.fechaPerdido}}</ion-text>
          <ion-button (click)="obtenerAnuncio(perro.key)" color="tertiary" class="boton-detalles">Ver detalles</ion-button>
        </ion-card>
      </ion-item>
    </ion-list>
</ion-content>
